@charset "UTF-8";

@import url();

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;700&display=swap');


@font-face {
    font-family: 'Matcha';
    src: url(../fontes/Matcha\ Latte.ttf);
}

@font-face {
    font-family: 'Gotham';
    src: url(../fontes/Gotham-Font/Gotham-Light.otf);
}

:root {
    --cor01: #fff;
    --cor02: #268bb6bd;
    --cor03: #b144a1af;
    --cor04: ;
    --cor05: ;
    --cor06: ;
    --cor07: ;
    --cor08: ;
    --cor09: ;
    --cor10: #000;

    --font-family: 'Matcha', sans-serif;
    --font-Mon: 'Montserrat', sans-serif;
    --font-Edu: 'Edu TAS Beginner', sans-serif, cursive;
    --font-Hind: 'Hind', sans-serif;
}

#but {
    font-family: 'Gotham';
}

* {
    margin: 0px;
    padding: 0px;
    
}

a {
    margin: 6px;
    text-decoration: none;
    color: #fff;
}

h3 {
    font-family: 'Gotham';
}

picture > img {
    width: 100%;
    height: auto;
}

body {
    background-color: rgb(184, 184, 207);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

body > p {


}

body > h1 {

}

header {

}

header > h1 {
    
}

header > p {
    
}


main > p {

}

main > h1 {

}

section {
    width: 1150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    max-width: 1400px;
    height: 90vh;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.137);
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: orange;
    width: 100%;
    height: 5vh;
    margin-top: 1vh;

}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: var(--cor02);
    color: white;
    width: 60%;
    max-width: 1200px;
    min-width: 500px;
    height: 6vh;
    font-size: 22px;
    margin-bottom: 1.5vh;
}

button {
    width: 110px;
    height: 30px;
    color: white;
    background-color: rgb(166, 93, 235);
    border-radius: 9px;
    font-size: 15px;
}

.container {
    background-color: white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 900px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.137);
}

.subsection {
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:50%;
    min-width: 100px;
    height: 35vh;
    gap: 5%;
}

.card {
    background-color: rgba(0, 0, 0, 0.055);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    width: 45%;
    max-width: 400px;
    min-width: 150px; 
    padding: 2.5%;
    flex-wrap: wrap;
}

#h2card {
    margin-bottom: 5px;
}

#myProgress {
    width: 100%;
    border-radius: 9px;
    background-color: lightblue;
  }
  
  #myBar {
    width: 0%;
    border-radius: 9px;
    height: 30px;
    background-color: blue;
  }